{% extends "base.html" %}


{% block title %}

<title>Forget password</title>

{% endblock title %}

{% block mainsection %}
<body class="bodycolor">
    <div class="container mt-5">

        <div class="row mt-5">

            <div class="offset-2 col-md-8">
                <div class="card mb-3">
                    <div class="row g-0"  style="padding: 2px;">
                      <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/confusion.png') }}" class="img-fluid rounded-start" alt="imgofurlshortner">
                      </div>
                      <div class="col-md-6">
                        <div class="card-body mt-3">
                            <form class="row g-3" method="post" action="/forgetpassword">
                                <h3 class="form-text text-danger">{{mesg}}</h3>

                                <div class="col-md-12">
                                  <label for="dob" class="form-label">DOB</label>
                                  <input name="dob" type="date" class="form-control" id="dob">
                                </div>
                                <div class="col-12">
                                    <label for="inputEmail" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="umail" id="inputEmail">
                                </div>
                                <div class="col-12">
                                    <label for="inputPassword4" class="form-label">New Password</label>
                                    <input type="password" class="form-control" name="upass" id="inputPassword4">
                                </div>
                                <div class="col-12">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                              </form>

                        </div>
                      </div>
                    </div>
                </div>





            </div>

        </div>

    </div>
{% endblock mainsection %}